
body{background:#fff;background-color:#222;color:#fff;background:url(/images/backgrounds/bg.jpg);background-size:cover;background-attachment: fixed;}

/* HOMEPAGE */
.main-section.padding{padding:20px;}
.main-section.page-margin-centered{max-width:1200px;margin:30px auto;}
.main-section.page-margin-centered:last-of-type{margin-bottom:60px;}
.main-section .placeholder-text{margin:40px 0;font-family:'Raleway',sans-serif;font-weight:normal;font-size:22px;}
.main-section .placeholder-text a{transition:color 0.3s;}
.main-section .data-main{text-align:center;margin:0 auto 0 auto;}

.data-container .placeholder-text{font-size:22px;font-weight:normal;text-align:center;font-family: Verdana, Geneva, Tahoma, sans-serif;}

#homepage-wrapper .main-section .loader{text-align:left;}
#homepage-wrapper .main-section .loader img{max-width:70px;height:auto;}
#homepage-wrapper .section-title{text-align:center;color:white;font-size:42px;}
#homepage-wrapper .placeholder-text{border-radius:10px;padding:40px;color:#fff;background:#111;border:2px solid #00E2FF;}
#homepage-wrapper .placeholder-text a{color:#00E2FF;}
#homepage-wrapper .placeholder-text a:hover{color:#888;}
#homepage-wrapper .section-music{color:#333;}
#homepage-wrapper .section-music .inner{background:rgba(255,255,255,0);padding:40px;}
#homepage-wrapper .section-movies{color:#333;}
#homepage-wrapper .section-movies .inner{background:rgba(255,255,255,0);}
#homepage-wrapper .section-movies .slick-slide{padding:30px 0;}
#homepage-wrapper .section-events{color:#fff;}
#homepage-wrapper .section-events .inner{background:#111;border-radius:10px;border:2px solid #00E2FF;margin-top:50px;}

.music-player{max-width:300px;height:300px;border-radius:10px;overflow:hidden;outline:none;}
.music-player:hover > .inner .music-container{background-color:rgba(0,0,0,0.5);}
.music-player .inner{position:relative;background-size:cover;background-position:center;height:100%;width:100%;}
.music-player .music-container{width:100%;position:absolute;bottom:0;left:0;background: rgba(0,0,0,0.3);transition:background-color 0.2s;}
.music-player .music-title{position:relative;top:20px;color:white;font-size:18px;}

.video-player{position:relative;display:inline-block;margin:0;text-align:center;}
.video-player video{outline:none;}
.video-player .inner{display:inline-block;}
.video-player .video-js{max-width:500px;height:auto;width:100%;}
.video-player .video-title{color:white;text-align:center;font-size:24px;position:relative;top:25px;}
/* HOMEPAGE */

/* PAGE: PRAYERS */
.section-prayers{background:#111;margin:150px auto;border-radius:20px;border:2px solid #00E2FF;}
.section-prayers .form-prayer{margin-top:30px;display:inline-block;}
.section-prayers .form-prayer .field-group{margin-top:25px;}
.section-prayers .form-prayer .if{display:block;background:transparent;max-width:460px;border:2px solid #00E2FF;color:white;padding:15px 10px;width:380px;border-radius:10px;}
.section-prayers .form-prayer .if:focus{outline:none;}
.section-prayers .form-prayer .txtarea{display:block;max-width:550px;border:2px solid #00E2FF;background:transparent;border-radius:10px;color:white;padding:15px 10px;width:100%;min-width:200px;font-family:'Roboto', sans-serif;font-size:16px;resize: none;height:200px;outline:none;}
.section-prayers .form-prayer .txtarea:focus{outline:none;}
.section-prayers .form-prayer .label{margin-bottom:10px;display:block;}
.section-prayers .form-prayer .btn{color:black;border-radius:10px;background:#00E2FF;padding:15px;border:none;outline:none;min-width:140px;text-align:center;margin-top:15px;}
/* PAGE: PRAYERS */

/* CONTENT SECTIONS */
.content .section-title{color:#00E2FF;font-size:72px;text-align:center;font-family: 'Pacifico', cursive;}
.content .content-wrapper{border:3px solid #00E2FF;border-radius:10px;max-width:1100px;margin:0 auto;margin-top:30px;background:rgba(0,0,0,0.6);}
.content .placeholder{font-size:24px;margin:35px 0;font-family:'Raleway',sans-serif;font-weight:normal;text-align:center;}
.content .loader{text-align:center;padding:20px;}
.content .loader img{max-width:50px;height:auto;}

.content-pagination{display:inline-block;border-top:2px solid #00E2FF;padding:10px;margin:0 auto 0 auto;width:100%;text-align: center;}
.content-pagination .page{padding:10px;border-radius:5px;min-width:40px;text-align:center;display:inline-block;margin:5px;background: #00E2FF;color:#000;}

/* WIDGET: Search */
.search-hero{position:relative;}
.search-hero input{padding:15px;border-radius:10px;border:3px solid #00E2FF;width:100%;max-width:300px;margin:0 auto;font-size:16px;color:white;outline:none;background:rgba(0,0,0,0.6);display:block;transition:all 0.3s;}
.search-hero input:focus{max-width:400px;}

.music-item{padding:20px;display:flex;align-items:center;}
.music-item:not(:last-of-type){border-bottom:1px solid #00E2FF;}
.music-item .info{margin-right:10px;min-width:150px;border-right:1px solid #00E2FF;}
.music-item .title{font-size:18px;margin:0;}
.music-item .artist{font-size:14px;margin:0;}
.music-item .download{display:block;font-size:22px;margin-top:10px;margin-left:-20px;}
.music-item .download i{padding:20px;}
.music-item .album{font-size:14px;color:#00E2FF;margin:0;}

/* Event Tiles */

.event-tile{display:inline-block;color:white;border-radius:10px;overflow:hidden;margin:20px;}
.event-tile .tile-inner{display:inline-flex;align-items: center;padding:40px 40px;background:#222;transition:background-color 0.2s;}
.event-tile .icon{color:#777;font-size:90px;padding-right:30px;position:relative;margin-right:20px;border-right:2px solid #00E2FF;}
.event-tile .title{font-size:22px;background:#444;padding:10px;margin:0;}
.event-tile .location{font-size:14px;margin:0;margin-bottom:5px;text-align: center;}
.event-tile .date{font-size:14px;margin:0;text-align: center;}
.event-tile .date strong, .event-tile .location strong{color:#00E2FF;display:block;}
.event-tile .desc{display:block;padding:15px;margin:0;font-size:14px;background:#333;height:100px;overflow:hidden;text-align:left;}
.event-tile .btn{display:block;padding:15px;background:#00E2FF;color:#333;}
.event-tile .btn:hover{background:#02cfeb;}

/* Movie item */
.movie-item{margin:20px;display:inline-block;width:380px;border-radius:5px;overflow:hidden;background:#333;}
.movie-item .thumbnail{overflow:hidden;width:130%;height:250px;}
.movie-item .thumbnail img{width:100%;height:auto;}
.movie-item .info{background:#333;color:white;padding:20px;}
.movie-item .title{margin:0;font-family:"Merriweather",sans-serif;font-size:24px;}
.movie-item .desc{margin:0;height:100px;overflow:hidden;text-align:left;}
.movie-item .btn{background:#00E2FF;color:#333;padding:15px 20px;width:100%;display:block;}

/* WATCH.php */
#watch-movie{max-width:1400px;margin:80px auto;background:#222;border-radius:10px;border:3px solid #00E2FF;}
#movie{width:100%;height:auto;margin:0;outline:none;border:none;}
#movie-panel{padding:20px;width:70%;min-height:100vh;display:inline-block;vertical-align:top;margin-right:-4px;overflow:hidden;}
#movie-panel .title{color:#00E2FF;}
#movie-info-panel{padding:20px;width:30%;min-height:100vh;display:inline-block;vertical-align:top;overflow:hidden;}
#movie-image img{width:100%;height:auto;max-width:600px;}
#movie-info-panel .title{color:#00E2FF;}

#user-comment{border-top:2px solid #444;}
.user-comment-inner{background:#777;border-radius:15px;overflow:hidden;margin-top:15px;}
.user-comment-inner input:focus{background:rgba(0,0,0,0.2);}
.user-comment-inner *::placeholder{color:#ddd;}
.user-comment-inner input:not(:last-of-type){border-bottom:2px solid #999;}
.user-comment-inner input{color:white;padding:20px;width:100%;background:transparent;outline:none;border:none;}
#user-comment .button{padding:20px;background:#00E2FF;border:none;outline:none;min-width:120px;text-align:center;color:#333;border-radius:10px;margin-top:20px;cursor:pointer;}
#user-comment .button i{position:relative;left:-4px;}
#user-comment .button:hover{background: #02cfeb;}

/* Comment */
.comment{display:flex;align-items: center;padding:20px;}
.comment:hover{background:#444;border-radius:10px;border:none;}
.comment:not(:last-of-type){border-bottom:1px solid #555;}
.comment .avatar{border-radius:100% 100%;overflow:hidden;background:#333;text-align:center;width:80px;height:80px;margin-right:20px;}
.comment .avatar i{font-size:50px;position:relative;top:14px;}
.comment .author{font-family:"Merriweather",sans-serif;font-size:20px;margin:0;}
.comment .content{font-size:14px;margin:0;}
.comment .date{margin-top:0;color:#aaa;font-size:12px;}

/* EVENTS DATA */
.event-content .content-title{color:#00E2FF;}
.event-photos, .event-videos{margin-top:50px;}
.event-content .photo, .event-content .video{width:400px;display:inline-block;vertical-align:top;margin:20px;border-radius:10px;overflow:hidden;}
.event-content .photo img, .event-content .video video{width:100%;height:auto;}

.event-info{background:#222;color:#fff;padding:20px;border-radius:10px;border:3px solid #00E2FF;}
#event-name{margin:0;}
#event-location{font-size:20px;color:#00E2FF;margin:0;}
#event-date{font-size:16px;margin:0;}
#event-desc{padding-top:20px;margin-bottom:0;border-top:1px solid #00E2FF;}

.content{margin-bottom:60px;}

.section-events.hero .data-container{border-radius:10px;border:3px solid #00E2FF;padding:20px;background:#222;margin-bottom:30px; text-align: center;}
.section-events.hero .event-tile .tile-inner{background:#555;}
.section-events .placeholder-text{font-weight:normal;font-size:22px;}
.section-events.hero .event-tile .icon{color:#00E2FF;}

@media (max-width:1000px){
    h1{font-size:42px;}
    .section-prayers .section-title{font-size:42px;}
    .section-events .section-title{font-size:42px;}
    .event-tile .title{font-size:20px;}
    
    #homepage-wrapper .main-section .section-title{font-size:42px;margin-bottom:-10px;}
    .main-section:not(:last-of-type){margin-bottom:-90px !important;}

    #watch-movie{margin-top:10px;margin-bottom:10px;}
    #movie-panel{width:100%;height:auto;min-height:auto;}
    #movie-info-panel{width:100%;height:auto;min-height:auto;}
    .content{margin-bottom:10px;}
}